<launch>
  <node pkg="ar_drone_vision" name="landing_zone_tracker" type="landing_zone_tracker.py" output="screen">
    
    <remap from="input_rgb_image" to="/ardrone/bottom/image_raw" />
   
     <rosparam>
       show_text: True
       feature_size: 5
       medianBlur_ksize: 5
       GaussianBlur_ksize_width: 9
       GaussianBlur_ksize_height: 9
       GaussianBlur_sigmaX: 0
       GaussianBlur_sigmaY: 0
       HoughCircles_dp: 2
       HoughCircles_minDist: 200
       HoughCircles_param1: 75
       HoughCircles_param2: 25
       HoughCircles_minRadius: 25
       HoughCircles_maxRadius: 450
    </rosparam>
    
  </node>
</launch> 

