<launch>
  <node pkg="ar_drone_vision" name="landing_zone_detector" type="landing_zone_detector.py" output="screen">

    <remap from="input_rgb_image" to="/ardrone/bottom/image_raw" />

    <rosparam>
       show_text: True
       feature_size: 7
       medianBlur_ksize: 3
       GaussianBlur_ksize_width: 5
       GaussianBlur_ksize_height: 5
       GaussianBlur_sigmaX: 0
       GaussianBlur_sigmaY: 0
       kernel_param_1: 7
       kernel_param_2: 7
       HoughCircles_dp: 1
       HoughCircles_minDist: 150
       HoughCircles_param1: 75
       HoughCircles_param2: 25
       HoughCircles_minRadius: 75
       HoughCircles_maxRadius: 250
    </rosparam>

  </node>
</launch>
