<?xml version="1.0"?>

<model>
  <name>challenge_1_start</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Christopher Mobley</name>
    <email>cmobley7@vt.edu</email>
  </author>

  <description>
    A white 10x10 plane.
  </description>

</model>
