<?xml version="1.0" ?>

<launch>

  <arg name="control_mode" default="twist" />
  <arg name="start_x1" default="65.0" />
  <arg name="start_y1" default="-25.0" />
  <arg name="start_yaw" default="2.9" />

  <!-- Start Gazebo with world running -->
  <include file="$(find truck_gazebo)/launch/truck_playpen.launch">
    <arg name="world_name" value="$(find truck_gazebo)/worlds/truck_playpen.world" />
    <arg name="paused" value="false" />
    <arg name="debug" value="false" />
  </include>

<!--
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/ardrone_testworld.world"/>
  </include>
-->
  <!-- Spawn simulated quadrotor UAVs -->
	  <include file="$(find mbzirc_gazebo)/launch/spawn_quadrotor.launch" >
	    <arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro" />
	    <arg name="name" value="test1" />
	    <arg name="x" value="$(arg start_x1)" />
	    <arg name="y" value="$(arg start_y1)" />
	    <arg name="Y" value="$(arg start_yaw)" />
	  </include>
	  
	  <node name="image_view_bottom" pkg="image_view" type="image_view" args="image:=/ardrone/bottom/image_raw" />

	  <node name="image_view_front" pkg="image_view" type="image_view" args="image:=/ardrone/front/image_raw" />

</launch>
