<launch>
  <node pkg="ar_drone_vision" name="landing_zone_tracker" type="landing_zone_tracker.py" output="screen">
    
    <remap from="input_rgb_image" to="/ardrone/bottom/image_raw" />
   
     <rosparam>
       show_text: True
       feature_size: 1
       drop_feature_point_interval: 160
    </rosparam>
    
  </node>
</launch>
